<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCghT4EdxKYeMXg3Q611RkaO6zMiUcnrVw</string>
	<key>GCM_SENDER_ID</key>
	<string>865248262663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunteak.RCA-Programmatic-UI-</string>
	<key>PROJECT_ID</key>
	<string>running-form-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>running-form-coach.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865248262663:ios:f174e358a90c51e90588a2</string>
</dict>
</plist>